In [5]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

SyntaxError: invalid syntax (<ipython-input-5-035442230dd4>, line 4)

In [7]:
%%bigquery schema --table "nyc-tlc:green.trips_2015"