In [5]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

SyntaxError: invalid syntax (<ipython-input-5-035442230dd4>, line 4)

In [7]:
%%bigquery schema --table "nyc-tlc:green.trips_2015"

In [8]:
%%sql
SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:green.trips_2015] LIMIT 10

QueryResultsTable job_DRGpDnA8DLO2TOgBpmjfbbyG4e0

In [9]:
%%sql --module taxiquery
SELECT daynumber, COUNT(*) AS numtrips FROM
    (SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:green.trips_$YEAR])
GROUP BY daynumber ORDER BY daynumber

In [10]:
trips = bq.Query(taxiquery, YEAR=2015).to_dataframe()
trips[:5]

   daynumber  numtrips
0          1     62943
1          2     43410
2          3     53866
3          4     41602
4          5     41923